/* TAMBAHKAN STYLE CUSTOM DISINI */
/* Style untuk Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .popup-content {
    /* background-color: #fefefe; */
    margin: 15% auto;
    /* padding: 20px; */
    /* border: 1px solid #888; */
    width: 80%;
    max-width: 500px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 10px;  /* Move down by 10px */
    right: 20px; /* Move left by 10px */
}

  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 40px;  /* Move down by 10px */
    right: 20px; /* Move left by 10px */
}
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: 10px;  /* Move down by 10px */
    right: 20px; /* Move left by 10px */
}

.back {
  color: #aaa;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  